# Dados brutos (RetailRocket) — grandes demais para o GitHub.
# Baixe em: https://www.kaggle.com/datasets/retailrocket/ecommerce-dataset
Dataset/

# Arquivo temporário do DuckDB (write-ahead log)
*.duckdb.wal

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# Sistema
.DS_Store
Thumbs.db

#Ferramentas de desenvolvimento
.vscode/